h1{
  align-self: stretch;
}

p{
  float: left;
}

ul{
  float: right;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}



#question-two, #question-three, #question-four, #question-five, #youWantRuby, #youWantPython, #youWantRust {
  display: none;
}





