.refresh {
  cursor: pointer;
  color: #0088cc;
}

.refresh:hover {
  text-decoration: underline;
}

#youWantRuby, #youWantPython, #youWantRust, #formTwo, #formThree, #formFour, #formFive, #results {
  display: none;
}